main{
  width:1020px;
  margin:0 auto;
}
form{
  margin: 40px 0;
}
form label{
  display; block;
}
form input{
  display: block;
  font-size: 30px
  margin:0 0 10px
}

main{
 background-color: #FF1493
}
